<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>ZIP {{ZIP}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      height:115px; 
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 2000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>






<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">
      	<img src="http://hiddencityphila.org/wp-content/uploads/2013/09/philashape.jpg" alt="Philly" style="width:80px;height:80px;">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/SimilarityGraph">SimilarityGraph</a></li>
        <li class="active"><a href="/Quiz">Quiz</a></li>
        <li><a href="/GoogleMap">Google Maps</a></li>
        <li><a href="/About">About</a></li>
      </ul>
   
    </div>
  </div>
</nav>


<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    	<p><a href="/PhillyStats">Philly Stats</a></p>
      	<p><a href="/Data/19102">19102</a></p>
		<p><a href="/Data/19103">19103</a></p>
		<p><a href="/Data/19104">19104</a></p>
		<p><a href="/Data/19106">19106</a></p>
		<p><a href="/Data/19107">19107</a></p>
		<p><a href="/Data/19111">19111</a></p>
		<p><a href="/Data/19114">19114</a></p>
		<p><a href="/Data/19115">19115</a></p>
		<p><a href="/Data/19116">19116</a></p>
		<p><a href="/Data/19118">19118</a></p>
		<p><a href="/Data/19119">19119</a></p>
		<p><a href="/Data/19120">19120</a></p>
		<p><a href="/Data/19121">19121</a></p>
		<p><a href="/Data/19122">19122</a></p>
		<p><a href="/Data/19123">19123</a></p>
		<p><a href="/Data/19124">19124</a></p>
		<p><a href="/Data/19125">19125</a></p>
		<p><a href="/Data/19126">19126</a></p>
		<p><a href="/Data/19127">19127</a></p>
		<p><a href="/Data/19128">19128</a></p>
		<p><a href="/Data/19129">19129</a></p>
		<p><a href="/Data/19130">19130</a></p>
		<p><a href="/Data/19131">19131</a></p>
		<p><a href="/Data/19132">19132</a></p>
		<p><a href="/Data/19133">19133</a></p>
		<p><a href="/Data/19134">19134</a></p>
		<p><a href="/Data/19135">19135</a></p>
		<p><a href="/Data/19136">19136</a></p>
		<p><a href="/Data/19137">19137</a></p>
		<p><a href="/Data/19138">19138</a></p>
		<p><a href="/Data/19139">19139</a></p>
		<p><a href="/Data/19140">19140</a></p>
		<p><a href="/Data/19141">19141</a></p>
		<p><a href="/Data/19142">19142</a></p>
		<p><a href="/Data/19143">19143</a></p>
		<p><a href="/Data/19144">19144</a></p>
		<p><a href="/Data/19145">19145</a></p>
		<p><a href="/Data/19146">19146</a></p>
		<p><a href="/Data/19147">19147</a></p>
		<p><a href="/Data/19148">19148</a></p>
		<p><a href="/Data/19149">19149</a></p>
		<p><a href="/Data/19150">19150</a></p>
		<p><a href="/Data/19151">19151</a></p>
		<p><a href="/Data/19152">19152</a></p>
		<p><a href="/Data/19153">19153</a></p>
		<p><a href="/Data/19154">19154</a></p>	
    </div>
    <div class="col-sm-8 text-left"> 
    
    	<h1>Recommendation Form</h1>
		<h2>Fill out the form to get neighborhood recommendation by zipcode </h2>
		<table style="width:100%">
		<form method="post" action="submitform" id="submitform">
		   <br><label>First name:</label><input type="text" name="firstname"></br>
		   <br><label>Last name:</label><input type="text" name="lastname"></br>
		   <br><label>Age:</label><input type="text" name="age"><br>
		   <br><label>sex:</label><select name="sex">
		         <option value="male">Male</option>
		         <option value="female">Female</option>
		         <option value="other">Other</option>
		   </select></br>
		   <br><label>Marital Status :</lable><select name="maritalstatus">
		         <option value="never married">Never Married</option>
		         <option value="married">Married</option>
		         <option value="separated">Separated</option>
		         <option value="widowed">Widowed</option>
		         <option value="divorced">Divorced</option>
		   </select></br>
		   <br><label>Income:</label><input type="text" name="income"></br>
		   <button type="submit" name="submit">Submit</button>
		   
		 </form>
      	</table>
      
    </div>
   
  </div>
</div>


<footer class="container-fluid text-center">
  <p>Philly Neighborhoods, Spring 2016 CIT 594</p>
  <p>Amelia Garrett, Selah Lynch, Brit Binler, Yashus Gowda</p>
</footer>


</body>
 </html>