<html>
<h1>Recommendation Form</h1>
<h2>Fill out the form to get neighborhood recommendation by zipcode </h2>
<table style="width:100%">
<form method="post" action="submitform" id="submitform">
   <br><label>First name:</label><input type="text" name="firstname"></br>
   <br><label>Last name:</label><input type="text" name="lastname"></br>
   <br><label>Age:</label><input type="text" name="age"><br>
   <br><label>sex:</label><select name="sex">
         <option value="male">Male</option>
         <option value="female">Female</option>
         <option value="other">Other</option>
   </select></br>
   <br><label>Marital Status :</lable><select name="maritalstatus">
         <option value="never married">Never Married</option>
         <option value="married">Married</option>
         <option value="separated">Separated</option>
         <option value="widowed">Widowed</option>
         <option value="divorced">Divorced</option>
   </select></br>
   <br><label>Income:</label><input type="text" name="income"></br>
   <button type="submit" name="submit">Submit</button>
   
 </form>
 </html>