<!DOCTYPE html>
<html>

	 <!-- {{name}}  is passed into the html via a java map object using mustache!--> 
	{{ #. }}
	
	<h4>ZipCode: {{ZIP}}</h4>
	
	
	<h4>Population density: {{SE_T002_002}}</h4>
	
	
	
</html>
